<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="bonlineco_flashsale_final_price_icon" type="Bonlineco\FlashSale\Plugin\Pricing\Render\FinalPriceBoxPlugin" sortOrder="10"/>
        <plugin name="bonlineco_flashsale_final_price_has_special" type="Bonlineco\FlashSale\Plugin\Pricing\Render\FinalPriceBoxHasSpecialPlugin" sortOrder="20"/>
    </type>
    <type name="Magento\ConfigurableProduct\Pricing\Price\FinalPrice">
        <plugin name="bonlineco_flashsale_configurable_min_price" type="Bonlineco\FlashSale\Plugin\Configurable\Pricing\Price\ConfigurableFinalPricePlugin" sortOrder="10"/>
    </type>
</config>
